.lead {
  max-width: 980px;
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto;
  color: #FFF;
  padding-left: 48px;
  padding-right: 48px;
  margin-bottom: 92px;
}

@media (max-width: 1024px) {
  .lead {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 88px;
  }
}

@media (max-width: 768px) {
  .lead {
    padding-left: 0;
    padding-right: 0;
  }

}

@media (max-width: 320px) {
  .lead {
    margin-bottom: 64px;
  }
}
